<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>Star Social</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<script src="//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="{% static 'simplesocial/css/master.css'%}">
    <script type="text/javascript" src="{% static 'simplesocial/js/master.js' %}">

    </script>
  </head>
  <body>
    <!--
    <nav class="navbar mynav" role="navigation" id='navbar'>
      <div class="container">
        <a class="navbar-brand mynav" href="{% url 'home' %}">Star Social</a>
          <ul class="nav navbar-nav">
          {% if user.is_authenticated %}
                <li><a href="{% url 'posts:create' %}" class="btn btn-simple">Post</a></li>
                <li><a href="{% url 'groups:all' %}" class="btn btn-simple">Groups</a></li>
                <li><a href="{% url 'groups:create' %}" class="btn btn-simple">Create Group</a></li>
                <li><a href="{% url 'accounts:logout' %}" class="btn btn-simple">Log out</a></li>
          {% else %}
                <li><a href="{% url 'groups:all' %}"class="btn btn-simple">Groups</a></li>
                <li><a href="{% url 'accounts:login' %}" class="btn btn-simple">Log in</a></li>
                <li><a href="{% url 'accounts:signup' %}" class="btn btn-simple">Sign up</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>-->
    <nav class="navbar navbar-default">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-2">
          <ul class="nav navbar-nav navbar-right">

            {% if user.is_authenticated %}
             <li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="{% url 'posts:create' %}">Post</a></li>
                  <li><a href="{% url 'groups:all' %}">Groups</a></li>
                  <li><a href="{% url 'groups:create' %}">Create Group</a></li>
                  <li><a href="{% url 'accounts:logout' %}">Log out</a></li>
            {% else %}
             <li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="{% url 'groups:all' %}">Groups</a></li>
                  <li><a href="{% url 'accounts:login' %}">Log in</a></li>
                  <li><a href="{% url 'accounts:signup' %}">Sign up</a></li>
            {% endif %}

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
    <div class="container mycontent">
      {% block content %}

      {% endblock %}

    </div>

  </body>

</html>
